# {{ ansible_managed }}
# Docs: master(5) (http://www.postfix.org/master.5.html)

{% set rows = [] %}
{% for service in config %}
{#- Normalise config values #}
{% for key, value in service.items() %}
{% if value is sameas true %}
{% do service.update({key: 'y'}) %}
{% elif value is sameas false %}
{% do service.update({key: 'n'}) %}
{% endif %}
{% endfor %}

{#- Consruct rows #}
{% set row = [] %}

{# This is the value that is used to signal to Postfix that we want to use
   the built-in default. It used for any optional parameters that are not 
   set #}
{% set system_default = '-' %}

{% do row.append(service.get('service')) %}
{% do row.append(service.get('type')) %}
{% do row.append(service.get('private', system_default)) %}
{% do row.append(service.get('unpriv', system_default)) %}
{% do row.append(service.get('chroot', system_default)) %}
{% do row.append(service.get('wakeup', system_default)) %}
{% do row.append(service.get('maxproc', system_default)) %}
{# Consruct full command, including any provided args, as a single string #}
{% set command = [] %}
{% do command.append(service.get('command')) %}
{% set args = service.get('args', []) %}
{% do command.extend(args) %}
{% do row.append(command|join(' ')) %}
{% do rows.append(row) %}
{% endfor %}
# ==========================================================================
# service type  private unpriv  chroot  wakeup  maxproc command + args
# (default)     (yes)   (yes)   (no)    (never) (100)
# ==========================================================================
{# Print out the rows, tab-delimited #}
{% for row in rows %}
{{ row|join('\t') }}
{% endfor %}
